<!DOCTYPE CSS>
.text1{
  color: #0EF9E0;
  text-align: center;
  font-family: arial, sans-serif;
  font-weight: bold;
  font-size: 22px;
          }  

.header1{
  color: #F90E98;
  text-align: center;
  font-family: times, sans-serif;
  font-weight: bold;
          }

.header2{
  color: #EEF199;
  text-align: center;
  font-family: times, sans-serif;
          }